<ngx-gauge [type]="gaugeType" 
           [value]="gaugeValueTemp" 
           [label]="gaugeLabel"
           [thresholds]="thresholdConfigTemp"
           [append]="gaugeAppendText">
</ngx-gauge>

<ngx-gauge [type]="gaugeTypeHum" 
           [value]="gaugeValueHum" 
           [label]="gaugeLabelHum" 
           [append]="gaugeAppendHum">
</ngx-gauge>
<ngx-gauge [type]="gaugeTypeG" 
           [value]="gaugeValueG" 
           [label]="gaugeLabelG" 
           [append]="gaugeAppendTextG">
</ngx-gauge>
