<div class = "grid" >
    <div class="item" *ngFor="let box of boxes">
        <mat-card >
            <mat-card-header>
                <mat-card-title> {{box.id}} </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Content: {{box.content}} <br>
                    State: {{box.state}} <br>
                    Humidity_boundaries: Min: {{box.humidity_boundaries.min}}, Max: {{box.humidity_boundaries.max}} <br>
                    Temperature_boundaries: Min: {{box.temperature_boundaries.min}}, Max: {{box.temperature_boundaries.max}}
                </p>
            </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="add(box)">ADD</button>
        </mat-card-actions>
    </mat-card></div>
</div>