.toolbar{    
    height: 80px;
    margin: -8px;
    background-color: skyblue;
}

.title{
    margin-top: 25px;
    margin-right: 15px;
    float: right;
    color: white;
    font-weight: 200;
    font-size: 30px;
}