<div class="toolbar" role="banner">
    <p class="title"> Medical Delivery</p>
</div>
<div style="padding: 20px;">
    <mat-accordion style="padding: 5px;" *ngFor="let delivery of deliveries">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-list>
                  Transporter Info
              </mat-list>
            </mat-panel-title>
            <mat-panel-description>
              <mat-list>
                Transporter: {{delivery.Transportername}}
              </mat-list>
            </mat-panel-description>
            <mat-panel-description>
              <mat-list>
                Box: 3 <img src="assets/aid.png" width="15px" height="15px" alt="">
              </mat-list>
            </mat-panel-description>
          </mat-expansion-panel-header>  

          <mat-card style="height: 35px;">
              <mat-chip-list style="float: right;">
                  <mat-chip style="float: right;" (click)="GoToSingleDelivery(delivery.Id)" color="primary" style="cursor: pointer;" selected>Add Box to Transporter</mat-chip>
              </mat-chip-list>

            <div class="divOuter">
              <div class="div1">
                <h4 mat-line>From</h4>
                <p mat-line style="margin-top: -25px;"> {{delivery.BeginPoint}} </p>
              </div>
              <div class="div2">
                <img src="assets/delivery-truck.png" width="50px" height="50px">
              </div>
              <div class="div3">
                <h4 mat-line>To</h4>
                <p mat-line style="margin-top: -25px;"> {{delivery.EndPoint}} </p>
              </div>
            </div>
          </mat-card>

          <div class="example-card">
            <mat-card style="height: 250px; overflow-y: scroll;">
              <div class = "grid" >
                <div class="item" >
                  <mat-card style="width: 250px;">
                    <button style="float: right;" mat-raised-button color="primary">Info</button>
                    <mat-card-header style="text-align: left; margin-right: 50px;">
                      <mat-card-title> 
                          <img src="assets/aid.png" width="30px" height="30px" alt="">
                          {{delivery.boxes}}
                      </mat-card-title>
                    </mat-card-header>

                    <mat-card-content style="height: 5%">
   
                    </mat-card-content>
                  </mat-card>
                </div>
              </div> 
            </mat-card>
            
              <mat-card style="height: 97px; margin-top: 3%;">
                <mat-list-item role="listitem">
                  <mat-card-header>
                    <mat-card-title>Description</mat-card-title>
                    <mat-card-subtitle> {{delivery.Description}} </mat-card-subtitle>
                  </mat-card-header>               
                </mat-list-item>
              </mat-card>
              

          </div>

          <div></div>
          
          <div>
            <app-map></app-map>
          </div>
          
        </mat-expansion-panel>
      </mat-accordion>
    
    
    <div class="content" role="main">  
      <button routerLink="/delivery" mat-icon-button class="addbutton">
        <mat-icon class="icon">add_circle</mat-icon>
      </button>
    </div>
</div>