.toolbar{    
    height: 80px;
    margin: 0px;
    margin-bottom: -2%;
    background-color: red;
}

.title{
    margin-top: 20px;
    margin-left: 15px;
    float: left;
    color: white;
    font-weight: 200;
    font-size: 30px;
}

.button {
    margin:auto;
    display:block;
    margin-top: 1%;
}
.example-card {
    width: 100px;
    height: 100px;
    margin: auto;
}

.icon{
    color:lightcoral;
    display: block;
    margin-left: -15px;
    font-size: 50px;
}

.divOuter{
    display:inline-block;
    text-align:center;
}

.div1, .div2, .div3{
    display: inline-block;
    float: left;
}

.div2{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: -10px;
}

.div1, .div3{
    margin-top: -20px;
}
  
.example-card {
    width: 50%;
    margin-top: 2%;
    float:right;
}

::-webkit-scrollbar {
    display: none;
}

.grid { 
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 3fr 3fr 3fr;
    grid-row-gap: 15px;
    grid-column-gap: 15px;

    width: 500px;
    
    transform: scale(0.8);
    margin-left: -6%;
}