<div class="toolbar" role="banner">
    <p class="title"> Medical Delivery</p>
</div>
<div style="margin: 2%;">
  <mat-accordion style="padding: 5px;" *ngFor="let delivery of deliveries">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-list>
            Transporter Info
          </mat-list>
        </mat-panel-title>
        <mat-panel-description>
          <mat-list>
            Transporter: {{delivery.Transportername}}
          </mat-list>
        </mat-panel-description>
        <mat-panel-description>
          <mat-list>
            Boxes: 2 <img src="assets/aid.png" width="15px" height="15px" alt="">
          </mat-list>
        </mat-panel-description>
      </mat-expansion-panel-header>  
      <mat-card style="height: 35px;">
        <mat-chip-list style="float: right;">
          <mat-chip style="float: right;" (click)="GoToSingleDelivery(delivery.Id)" color="primary" style="cursor: pointer;" selected>Add Box to Transporter</mat-chip>
        </mat-chip-list>
        <div class="divOuter">
          <div class="div1">
            <h4 mat-line>From</h4>
            <p mat-line style="margin-top: -25px;"> {{delivery.BeginPoint}} </p>
          </div>
          <div class="div2">
            <img src="assets/delivery-truck.png" width="50px" height="50px">
          </div>
          <div class="div3">
            <h4 mat-line>To</h4>
            <p mat-line style="margin-top: -25px;"> {{delivery.EndPoint}} </p>
          </div>
        </div>
      </mat-card>
      <div class="example-card">

        <mat-card style="height: 200px; overflow-y: scroll;">
          <mat-card-header>
            <mat-card-title>
              Boxes
            </mat-card-title>
          </mat-card-header>

          <div class="grid" *ngIf="delivery.boxes" >
            <div class="item" *ngFor="let box of boxSvc.objectValues(delivery.boxes)">
              <mat-card style="width: 230px; border: 2px solid;" [ngStyle]="{'border-color': box.state ? 'green' : 'red'}" >
                <button (click)="GoToInfo(delivery.Id, box.id)" style="float: right; margin-top: -7px;" mat-raised-button color="primary">Info</button>
                <mat-card-header style="text-align: left; margin-right: 50px; margin: -15px; margin-top: 0px;">
                  <mat-card-title style="margin-left: -30%;">
                    <img src="assets/aid.png" style=" vertical-align:middle;"  width="25px" height="25px" alt="">
                    {{box.id}}
                  </mat-card-title>
                </mat-card-header>
              </mat-card>
            </div>
          </div> 
        </mat-card>    

        <mat-card style="
          width: 96%;
          height: 110%;
          margin-top: 2%;">
          <mat-list-item role="listitem">
            <mat-card-header>
              <mat-card-title>Description</mat-card-title>
              <mat-card-subtitle> {{delivery.Description}} </mat-card-subtitle>
            </mat-card-header>               
          </mat-list-item>
        </mat-card>        
      </div>

      <mat-card style="width: 45%;
      height: 360px;
      margin-top: 2%;">
        <mat-card-content>
          <app-map></app-map>
          <div style="margin-left: 1%; float: right;">
            <app-dashboard id="box1"></app-dashboard>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>
</div>



<div class="wrapper" role="main">  
  <button routerLink="/delivery" mat-icon-button class="button">
    <mat-icon class="icon">add_circle</mat-icon>
  </button>
</div>