/* #container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
 */
.example-card {
  width: 45%;
  height: 50%;
  margin-top: 2%;
}

.example-header-image {
  margin-right: -20px;
}