<mat-card class="card" role="list">
    <mat-card-header>
    </mat-card-header>
    <mat-card-content class="content">
        <h2> {{idbox}} </h2>
        <div *ngIf="boxInfo && data">
            <mat-list-item role="listitem">Content: {{boxInfo.content}} </mat-list-item>
            <mat-list-item role="listitem">Humidity Value: {{data.Humidity.Value}}%</mat-list-item>
            <mat-list-item role="listitem">Temperature Value: {{data.Temperature.Value}}°C</mat-list-item>
            <mat-list-item role="listitem">GForce: {{data.PositionOrientation.GForce}}g </mat-list-item>
        </div>
        <div *ngIf="!data">            
            <mat-list-item role="listitem">Humidity Value: Unknown</mat-list-item>
            <mat-list-item role="listitem">Temperature Value: Unknown</mat-list-item>
            <mat-list-item role="listitem">GForce: Unknown </mat-list-item>
        </div>
    </mat-card-content>
    

    
    <mat-card-actions *ngIf="boxInfo && data">
        <mat-chip-list style="float: right;">
            State: <mat-chip *ngIf="boxInfo.state" color="primary" style="background-color: #00ff00a6; color: white;">OK</mat-chip>
            <mat-chip *ngIf="!boxInfo.state" color="primary" style="background-color: red; color: white;">ABORT</mat-chip>
        </mat-chip-list>
        <button (click)="Delete()" mat-raised-button color="warn">Delete</button>
    </mat-card-actions>

    <mat-card-actions *ngIf="boxInfo && !data">
        <mat-chip-list style="float: right;">
            State: <mat-chip color="accent" selected>varies</mat-chip>
        </mat-chip-list>
        <button (click)="Delete()" mat-raised-button color="warn">Delete</button>
    </mat-card-actions>
</mat-card>