<div class="example-container">
    <mat-form-field style="margin-top: 5%;" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Begin point</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Destination</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>

    <div>
        <mat-toolbar class="temprange">Box Temperature range 
            <ng5-slider style="margin-left: 5%;" [(value)]="TempMin" [(highValue)]="TempHigh" [options]="TempOptions"> </ng5-slider>
        </mat-toolbar>
    </div>
    
    <p></p>

    <mat-toolbar class="temprange">Box Humidity range
        <ng5-slider style="margin-left: 5%;" [(value)]="HumMin" [(highValue)]="HumHigh" [options]="HumOptions"> </ng5-slider>
    </mat-toolbar>

    <div class="" style="text-align: center;margin-top:3%">
        <button class="icon-btn add-btn">
            <div class="add-icon"></div>
            <div class="btn-txt">Add</div>
        </button>
    </div>
</div>