<div class="example-container">

        <mat-form-field style="margin-top: 5%;" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="delivery.Transportername" >
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Begin</mat-label>
            <input matInput type="text" [(ngModel)]="delivery.BeginPoint" placeholder="Start hospital">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Destination</mat-label>
            <input matInput type="text" [(ngModel)]="delivery.EndPoint" placeholder="End hospital">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput [(ngModel)]="delivery.Description"></textarea>
        </mat-form-field>
    
        <div class="" style="text-align: center;margin-top:3%;">
            <button (click)="Add()" class="icon-btn add-btn">
                <div class="add-icon"></div>
                <div class="btn-txt">Add</div>
            </button>
      </div>
</div>